{% extends 'base_user.html.twig' %}

{% block title %}Actualiza tu contraseña{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center">Actualiza la contraseña</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="tab-pane fade show active" id="passwordTab">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Configura tu contraseña</h5>
            </div>

            <div class="card-body pt-0">
                {{ form_start(formPassword, {'attr': {'data-turbo': 'false'}, 'method': 'POST', 'action': path('edit_password')})}}
                
                <div class="mb-3">
                    <label class="form-label" for="currentPassword">Contraseña Actual</label>
					{{ form_widget(formPassword.currentPassword, {'attr': {'class': 'form-control', 'placeholder': 'Introduce tu contraseña actual'}}) }}
				</div>

                <div class="mb-3">
                    <label class="form-label" for="newPassword">Nueva contraseña</label>
                    {{ form_widget(formPassword.newPassword, {'attr': {'class': 'form-control', 'placeholder': 'Introduce tu nueva contraseña'}})}}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Confirma la nueva contraseña</label>
                    {{ form_widget(formPassword.confirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirma tu nueva contraseña'}})}}
                </div>

                <button type="submit" class="btn btn-primary">Actualizar contraseña</button>

                {{ form_end(formPassword) }}

            </div>

        </div>
    </div>



{% endblock %}