{% extends 'base_user.html.twig' %}

{% block title %}Datos personales{% endblock %}

{% block content %}

<div class="container mt-4">
    
    <a href="{{ path('app_user_view__profile') }}" class="btn btn-outline-secondary btn-sm mb-3">
        <i class="fas fa-arrow-left"></i> Volver
    </a>

    <h2 class="text-center">Datos personales</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'data-turbo': 'false'}, 'method': 'POST', 'action': path('edit_profile')}) }}

    <!--Tarjeta principal de datos-->
    <div class="card shadow-lg p-4 mb-4">
        <div class="row align-items-center">
            <!--Columna de datos de texto-->
            <div class="col-md-8">
                <h4 class="mb-4">Tus datos</h4>

                <div class="mb-3 editable-row">
                    <strong>Nombre de usuario: </strong>
                    <span id="userName"> {{ app.user.userName }} </span>
                    <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('userName')"><i class="fas fa-pen-alt"></i></button>
                    
                    <div class="edit-container" id="edit_userName_container" style="display: none;">
                        <label for="user_profile_userName" class="form-label"></label>
                        {{ form_widget(form.userName, {'attr': {'class': 'form-control', 'id': 'user_profile_userName'}}) }}
                    <button class="saveChangesBtn userName btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                    <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('userName')">Cancelar</button>
                    </div>
                </div>
                
                <div class="mb-3 editable-row">
                    <strong>Nombre: </strong>
                    <span id="name">{{ app.user.name }}</span>
                    <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('name')"><i class="fas fa-pen-alt"></i></button>

                    <div class="edit-container" id="edit_name_container" style="display: none;">
                        <label for="user_profile_name"></label>
                        {{form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'user_profile_name'}})}}
                    <button class="saveChangesBtn name btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                    <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('name')">Cancelar</button>
                    </div>
                </div>
                
                <div class="mb-3 editable-row">
                    <strong>Primer apellido: </strong>
                    <span id="firstLastName">{{ app.user.firstLastname }}</span>
                    <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('firstLastName')"><i class="fas fa-pen-alt"></i></button>

                    <div class="edit-container" id="edit_firstLastName_container" style="display: none;">
                        <label for="firstLastName" class="form-label"></label>
                        {{ form_widget(form.firstLastName, {'attr': {'class': 'form-control', 'id': 'user_profile_firstLastName'}}) }}
                    <button class="saveChangesBtn firstLastName btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                    <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('firstLastName')">Cancelar</button>
                    </div>
                </div>

                <div class="mb-3 editable-row">
                    <strong>Segundo apellido: </strong>
                    <span id="secondLastName">{{ app.user.secondLastname }}</span>
                    <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('secondLastName')"><i class="fas fa-pen-alt"></i></button>

                    <div class="edit-container" id="edit_secondLastName_container" style="display: none;">
                        <label for="secondLastName" class="form-label"></label>
                        {{ form_widget(form.secondLastName, {'attr': {'class': 'form-control', 'id': 'user_profile_secondLastName'}}) }}
                    <button class="saveChangesBtn secondLastName btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                    <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('secondLastName')">Cancelar</button>
                    </div>
                </div>

                <div class="mb-3 editable-row">
                    <strong>Biografía: </strong>
                    <span id="biography"> {{ app.user.biography}} </span>
                    <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('biography')"><i class="fas fa-pen-alt"></i></button>

                    <div class="edit-container" id="edit_biography_container" style="display: none;">
                        <label for="biography" class="form-label">Editar biografía</label>
                        {{ form_widget(form.biography, {'attr': {'class': 'form-control', 'id': 'user_profile_biography'}}) }}
                    <button class="saveChangesBtn biography btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                    <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('biography')">Cancelar</button>
                    </div>
                </div>
    
            </div><!--cierre columna datos de texto-->

            <!--Columna de la foto-->
            <div class="col-md-4 text-center editable-row">
            
            {#
                {% if app.user.photo %}
                    <img src="{{ asset('uploads/profile_photos/' ~ app.user.photo) }}" alt="Foto de perfil" class="img-fluid rounded-circle mb-2" style="width: 150px;">
                {% else %}
                    <img src="{{ asset('images/default.png') }}" alt="Foto por defecto" class="img-fluid rounded-circle mb-2" style="width: 150px;">
                {% endif %}

                <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('photo')"><i class="fas fa-pen-alt"></i></button>

                <div class="edit-container" id="edit_photo_container" style="display: none;">
                    <label for="photo" class="form-label"></label>
                    {{ form_widget(form.photo, {'attr': {'class': 'form-control', 'id':'user_profile_photo'}}) }}
                <button class="saveChangesBtn photo btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                </div>
            #}

               <!--Editar foto sin form.photo porque ahora se gestiona con clerk-->
               <div class="col-md-4 text-center editable-row">
                    <img id="user-avatar-edit" src="{{ asset('images/default.png') }}" alt="Foto de perfil" class="img-fluid rounded-circle mb-2" style="width: 150px;">
                    
                    <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('photo')"> <i class="fas fa-pen-alt"></i> </button>
                    
                    <div class="edit-container" id="edit_photo_container" style="display: none;">
                        <a href="{{ path('user_account') }}" class="btn btn-outline-primary btn-sm d-block" style="margin-top: 10px"> Editar imagen</a>   
                        <button type="button" class="cancelBtn btn btn-outline-secondary btn-sm mt-2" onclick="cancelEdit('photo')"> Cancelar</button>
                    </div>
                </div>

            </div><!--cierre columna foto-->
        </div><!--Cierre row-->
    </div> <!--Cierre card-->

    <!--Tarjeta con datos de contacto-->
    <div class="card shadow-sm p-4 mb-4">
        <h5>Datos de contacto</h5>

        <div class="row">
            <div class="col-md-6 editable-row">
                <strong>Teléfono: </strong> {{ app.user.phone }}
                <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('phone')"><i class="fas fa-pen-alt"></i></button>

                <div class="edit-container" id="edit_phone_container" style="display: none;">
                    <label for="phone" class="form-label"></label>
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'id': 'user_profile_phone'}}) }}
                <button class="saveChangesBtn phone btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('phone')">Cancelar</button>
                </div>
            </div>
            
            <div class="col-md-6 editable-row">
                <strong>Correo: </strong> {{ app.user.email }}
                <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('email')"><i class="fas fa-pen-alt"></i></button>

                <div class="edit-container" id="edit_email_container" style="display: none;">
                    <label for="email" class="form-label"></label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'user_profile_email'}}) }}
                <button class="saveChangesBtn email btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('email')">Cancelar</button>
                </div>
            </div>
        </div><!--cierre row-->
    </div><!--cierre card-->

    <!--Tarjeta datos geográficos-->
    <div class="card shadow-sm p-4 mb-4">
        <h5>Ubicación</h5>

        <div class="row">
            <div class="col-md-4 editable-row">
                <strong>Provincia: </strong> {{ app.user.province }}
                <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('province')"><i class="fas fa-pen-alt"></i></button>

                <div class="edit-container" id="edit_province_container" style="display: none; ">
                    <label for="province" class="form-label"></label>
                    {{ form_widget(form.province, {'attr': {'class': 'form-control', 'id': 'user_profile_province'}}) }}
                <button class="saveChangesBtn province btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('province')">Cancelar</button>
                </div>
            </div>
            
            <div class="col-md-4 editable-row">
                <strong>Localidad: </strong> {{ app.user.locality }}
                <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('locality')"><i class="fas fa-pen-alt"></i></button>

                <div class="edit-container" id="edit_locality_container" style="display: none;">
                    <label for="locality" class="form-label"></label>
                    {{ form_widget(form.locality, {'attr': {'class': 'form-control', 'id': 'user_profile_locality'}}) }}
                <button class="saveChangesBtn locality btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('locality')">Cancelar</button>
                </div>
            </div>
            
            <div class="col-md-4 editable-row">
                <strong>Dirección: </strong> {{ app.user.addres }}
                <button type="button" class="btn btn-sm btn-light edit-btn" onclick="editField('addres')"><i class="fas fa-pen-alt"></i></button>

                <div class="edit-container" id="edit_addres_container" style="display: none;">
                    <label for="addres" class="form-label"></label>
                    {{ form_widget(form.addres, {'attr': {'class': 'form-control', 'id': 'user_profile_addres'}}) }}
                <button class="saveChangesBtn addres btn btn-outline-primary mt-4" type="submit" style="display: none;">Actualizar</button>
                <button type="button" class="cancelBtn btn btn-outline-secondary mt-4 ms-2" onclick="cancelEdit('addres')">Cancelar</button>
                </div>
            </div>
        </div><!--cierre row-->
    </div><!---cierre card-->

    {{ form_end(form)}}

</div><!--cierre div contaner-->

<script async crossorigin="anonymous"
    src="https://deciding-gar-25.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
    data-clerk-publishable-key="pk_test_ZGVjaWRpbmctZ2FyLTI1LmNsZXJrLmFjY291bnRzLmRldiQ">
</script>

<script>
document.addEventListener('DOMContentLoaded', async () => {
    await Clerk.load();

    const user = await Clerk.user;
    const avatar = document.getElementById('user-avatar-edit');

    if(user && user.imageUrl && avatar){
        avatar.src = user.imageUrl;
    }
});


function editField(field) {
    // Ocultar todos los bloques de edición
    document.querySelectorAll('.edit-container').forEach(el => {
        el.style.display = 'none';
    });

    // Mostrar solo el bloque de edición correspondiente
    const target = document.getElementById('edit_' + field + '_container');
    if (target) {
        target.style.display = 'block';
    }

    //Ocultar todos los botones de guardar cambios
    document.querySelectorAll('.saveChangesBtn').forEach(btn =>{
        btn.style.display = 'none';
    });

    //Mostrar el botón para guardar cambios en el campo correspondiente
    const saveBtn = document.querySelector(`.saveChangesBtn.${field}`);
    if(saveBtn){
        saveBtn.style.display = 'inline-block';
    }

    // Copiar el valor del span al campo del formulario
    const fieldSpan = document.getElementById(field);
    const inputField = document.getElementById('user_profile_' + field);
    
    if(field !== 'photo' && fieldSpan && inputField){
        inputField.value = fieldSpan.innerText.trim();
    }
}

function cancelEdit(field){
    //ocultar contenedor de edición
    const container = document.getElementById('edit_' + field + '_container');
    if(container){
        container.style.display = 'none';
    }
}

</script>
{% endblock %}