{% extends "base.html.twig" %}

{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg" style="max-width: 400px; width: 100%;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">¿Olvidaste tu contraseña?</h2>
            
            <p class="text-center mb-4">Introduce tu email para recibir un enlace de restablecimiento de contraseña.</p>

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}


            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.email, 'Correo electrónico') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Enviar enlace</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}